<div class="modal fade" id="updateproperty-modal" tabindex="-1" role="dialog" aria-labelledby="updateproperty">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>Modifier <span ></span></div>
        </div>
    </div>
</div>
