@page
@model MVS.Web.Pages.Adherent.AdherentByIdModel
@{
    ViewData["Title"] = "Adherent";
}

<h1>Adherent</h1>
<p>@Model._test.first_name</p>
<p>@Model._test.last_name</p>
<p>@Model._test.address1</p>
