<div class="modal fade" id="paymentVirementModal" tabindex="-1" aria-labelledby="paymentVirementLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pointer" id="paymentVirementLabel"  data-bs-dismiss="modal"><img src="~/img/icons/chevron-left.svg" /> Retour au choix</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>Vous avez choisi de payer par virement :</h3>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-purple my-4" href="#" data-bind="click: function(){PayedByBankTransfert()}">Valider</a>
                </div>
                <p>Vous trouverez le RIB sur la facture, si besoin. Rappel du RIB : <br/>
                    <br/>
                    IBAN : FR76 1660 7002 5138 1211 6601 534<br />
                    BIC : CCBPFRPPPP<br />
                    <br/>
                    Veuillez nous transmettre la preuve de virement par mail : contact@droitsquotidiens.fr</p>
            </div>
        </div>
    </div>
</div>
