<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentLabel">Choisissez votre mode de paiement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-4 pb-5 d-flex justify-content-center">
                <a href="#" class="btn btn-purple mx-2" data-bs-toggle="modal" data-bs-target="#paymentVirementModal">Par virement</a>
                <a href="#" class="btn btn-purple mx-2" data-bs-toggle="modal" data-bs-target="#paymentPrelevementModal">Par prélèvement</a>
            </div>
        </div>
    </div>
</div>
