<div class="modal fade" id="restoreFolderModal" tabindex="-1" aria-labelledby="RestoreFolderLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RestoreFolderLabel">Vous souhaitez restaurer le dossier XV567 ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Texte à définir:<br /> Cette action est irréversible assurez-vous de … Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                </p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn-icon btn-restore" data-bind="click: function(){$root.updateFolderArchiveStatus(false)}"><img src="~/img/icons/restore.svg" />Restaurer le dossier</a>
            </div>
        </div>
    </div>
</div>
