<div class="modal fade" id="show-sepa" tabindex="-1" aria-labelledby="showSepaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title danger" id="deleteAccountLabel">Mandat SEPA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <embed class="mt-3" src="@Url.Page("/Home/Viewer", new {contractId = Model._SEPAContract.Id})" />
            </div>
            <div class="modal-footer">
                <a href="@(Url.Page("/Vault/MissionLetter", "DownloadContract", new {contractId = Model._SEPAContract.Id, folderId = Model._folderId}))" class="btn-icon">Télécharger</a>
            </div>
        </div>
    </div>
</div>  
