@page
@model MVS.Web.Pages.Home.ErrorPageModel
@{
}

<section class="col" id="home-content">
    <div class="row g-0 bg-white header-content">
        <div class="col-6 col-xxl-5 d-flex align-items-center ps-5 py-5">
            <h1 class="my-5">OUPS… Cette page n'existe pas</h1>
        </div>
        <div class="col-6  offset-xxl-1  pe-0 align-bottom d-flex align-items-end">
            <img class="w-100" src="~/img/home.svg" />
        </div>
    </div>
    <div class="row py-5 g-0 justify-content-center">
        <div class="col-auto p-3">
            <div class="card">seraphin assistant here</div>
        </div>
        <div class="col-auto p-3">
            <div class="card">
                <div class="d-flex align-items-center">
                    <img src="~/img/icons/justice.svg" class="me-2" />
                    <img src="~/img/alixAccompagne.svg" class="LogoAlixAccompagne"/>
                </div>
                <p class="mt-4">Votre plateforme d’accompagnement juridique sur-mesure</p>
                <a href="/Vault" class="btn ms-auto mt-auto btn-purple">Mes dossiers</a>
            </div>
        </div>
    </div>
</section>
