@page
@model MVS.Web.Pages.Home.MaintenanceModel
@{
}

<section id="folder" class="col p-5">
    <div class="card info-card" style="text-align:center">
        <img src="~/img/icons/tools.svg" class="maintenance-icon"/>
        <h3 class="mb-4 title">Cette page est actuellement en maintenance</h3>
    </div>
</section>
