@page
@model MVS.Web.Pages.Home.PasswordForgetModel
@{
    ViewData["Title"] = "Mot de passe oublié";
    Layout = "~/Pages/Shared/_LayoutLoginRegister.cshtml";
}

<div class="col-6 right-content p-5">
    <a href="/Home/Login" class="btn-back me-auto"><img src="~/img/icons/arrow-left.svg" />Retour à la connexion</a>
    <h1 class="my-5">MOT DE PASSE OUBLIÉ</h1>

    @if (Model._emailSend)
    {
        <div class="successEditPassword">
            <img src="~/img/icons/PasswordForgetCheck.svg" class="d-block mx-auto" />
            <p class="my-5">Un Email vous a été envoyé pour modifier votre mot de passe</p>
            <a href="/Home/Login" class="btn btn-purple mx-auto d-block">Je me connecte</a>      
        </div>
    }
    else
    {
        <form method="post">
            <p class="mb-4">Pour réinitialiser le mot de passe veuillez renseigner votre email et cliquer sur le lien de réinitialisation (……)</p>

            <div class="block-form ms-0">
                <div>
                    @if (Model._errorUser)
                    {
                        <span class="text-danger auto-margin">Email incorrect</span>
                    }
                </div>

                <label class="labelinput" for="email">Email</label>
                 @Html.TextBoxFor(Model => Model._email, new { placeholder = "adresse@email.com", @class = "form-control required mb-0", id = "email" })
                 @Html.ValidationMessageFor(Model => Model._email, "", new { @class = "text-danger auto-margin" })   
            </div>
            <input type="submit" class="btn btn-purple mx-auto d-block mt-3" value="Réinitialiser le mot de passe"/>
        </form>
    }
</div>
